[submodule "zig-args"]
	path = lib/zig-args
	url = https://github.com/MasterQ32/zig-args
[submodule "lib/zig-uri"]
	path = lib/zig-uri
	url = https://github.com/MasterQ32/zig-uri
[submodule "test-area/zig-args"]
	path = test-area/zig-args
	url = https://github.com/MasterQ32/zig-args
[submodule "lib/ini"]
	path = lib/ini
	url = https://github.com/ziglibs/ini
